{% extends 'base.html' %} {% load static i18n %}{% block content %}
{% include "navbar.html" %}

  <div class="container">
   <div id="carouselExampleSlidesOnly" class="carousel slide"   data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/saad_academy.jpg' %}" class="d-block mx-auto"  alt="...">
    </div>
    <div class="carousel-item">
     <img src="{% static 'images/img1.png' %}" class="d-block mx-auto"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/saad_academy.jpg' %}" class="d-block mx-auto"  alt="...">
    </div>
  </div>
</div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/saad_academy.jpg' %}"  class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/saad_academy.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>
{{ category.name }}
<button type="button" class="btn btn-primary">Primary</button>
  <a href="{{ category.get_absolute_url }}">asdsadsadsadsadsadsadsadsadasdasdsadsadasdasd</a>
  </div>
{% endblock content %}
