{% extends 'base.html' %} {% load static i18n %}{% block content %}
  {% include "navbar.html" %}
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="header rounded shadow" style="width: 100%; height: 20rem">
        <img src="{% static 'images/saad_academy.jpg' %}" class="mx-auto d-block mt-5" height="70%">
      </div>
    </div>
    <div class="row">
      {% for lesson in lessons %}
        <a href="{{lesson.get_absolute_url}}">
          <div class="card shadow-sm category_card mt-3" style="width: 20rem;">
            <img src="{{lesson.icon.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text category_title text-center">{{lesson.title}}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
