<ul>
  <li>
    <p><span id="text-block" class="text-block green-highlight">renal function test</span></p>
  </li>
  <li>
    <p><span id="text-block" class="text-block green-highlight">liver function test</span></p>
  </li>
  <li>
    <p><span id="text-block" class="text-block green-highlight">and pulmonary function test</span></p>
  </li>
</ul>


<p>but what does the pulmonary system do?</p>
<ul>
  <li>
    <p class="text-start"><span id="text-block" class="red-highlight">get filled with air volumes</span></p>
  </li>
  <li>
    <p class="text-start"><span id="text-block" class="yellow-highlight">conductive airways</span></p>
  </li>
</ul>

<p><span id="text-block" class="text-block green-highlight"></span>so the PFT tests the condition of the airways and
  weither that lungs contains enough air</p>

<p>also during the first breath, in order to breathe in a normal way we need some volume to be in the lungs so that when
  the human smother there is still a way to do gas exchanges, this needed volume called <span id="text-block"
                                                                                              class="text-block red-highlight">expiratory reserved volume</span>
</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/3.svg">

<p>this volume human can force it out of the lungs when they do force expiration.
  now, <span id="text-block" class="text-block green-highlight"> ERV</span> and <span id="text-block"
                                                                                      class="text-block green-highlight">RV</span>
  are considered as <span id="text-block" class="text-block yellow-highlight"> Fractional residual capacity (FRC)</span>.
  so the lung contains some set of volumes, those volumes are called capacities
</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/4.svg">
<p>
  , to recap<span id="text-block" class="text-block green-highlight">RV</span> makes the lung open like a balloon.
  after that the volumes will go up till they make something called <span id="text-block"
                                                                          class="text-block green-highlight"> ERV</span>,
  its job to let gas exchange happens even if the human smother.
  and <span id="text-block" class="text-block yellow-highlight"> Fractional residual capacity (FRC)</span> is the
  combination of those two - RV and FRC - </p>


<p>we breath in the <span id="text-block" class="text-block yellow-highlight">tidal volume (VT),</span> which is 500ml.
</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/5.svg">
<p>its called tidal because you breath the same volume you get out. if i ask you can breath more than the tidal volume (
  which is 3.5) ? the answer is yes, the
  <span id="text-block"
        class="text-block yellow-highlight">total capacity of the lung is 6L</span> - which is more that 3.5 - so when
  you do Inspiration you can do that more than the vt upto when the lung is filled, this capacity - from VT to the end -
  is called inspiratory reserved volume, </p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/6.svg">

<p>after that when you do expiration you get out all the air in your lungs until you reach the RV, because you cant get
  RV out of your lungs, you will go back to normal breathing within the tidal volume.</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/7.svg">


<p>to recap our lung contains:-</p>
<ul>
  <li>
    <p><span id="text-block"
             class="text-block yellow-highlight">RV</span></p>
  </li>
  <li>
    <p><span id="text-block"
             class="text-block yellow-highlight">ERV</span></p>
  </li>
  <li>
    <p><span id="text-block"
             class="text-block yellow-highlight">tidal volume</span></p>
  </li>
  <li>
    <p><span id="text-block"
             class="text-block yellow-highlight">IRV</span></p>
  </li>
</ul>
<p>so we have 4 capacities </p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/8.svg">
<p>the first capacity is the sum of ERV and RV which is the <span id="text-block"
                                                                  class="text-block yellow-highlight"> functional reserved volume (FRV)</span>
  the second is the sum of the tidal volume and inspiratory reserved volume is called the <span id="text-block"
                                                                                                class="text-block yellow-highlight"> inspiratory capacity</span>.
  so we
  can control all the volumes and refresh them except for the RV. so the <span id="text-block"
                                                                               class="text-block yellow-highlight">IRV + vt + erv = vital capacity</span>
  and <span id="text-block" class="text-block yellow-highlight"> RV + IRV + TV + ERV = total
  capacity </span></p>


<p>in case a person's RV has increased <span id="text-block"
                                             class="text-block yellow-highlight">- air trapping - </span>, that means
  the FRC will get less volume.
  if this got out of control will result to <span id="text-block"
                                                  class="text-block yellow-highlight">hyperinflation</span> which in
  turn will lead to having a lot of CO2</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/9.svg">
<p>this happen to people having emphysema, this is the benefit of PFT, if we know this information we can diagnose lots
  of diseases</p>


<p>now we will talk about airways if a person takes a deep breath slowly filling his <span id="text-block"
                                                                                           class="text-block red-highlight">lung reaching 5 or 6 liters. </span>
</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/10.svg">
<p>now the airways have to be opened enough so the air gets out smoothly.</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/11.svg">
<p> but what if the airways are tight at some point,

  getting air in will be easy - because it's done slowly-
  but what if a person gets it out in a fast manner -?- this will lead to

  <span id="text-block" class="text-block red-highlight"> limitation </span> in getting air out and will make that
  process takes time more than usual</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/12.svg">


<p>now we will talk about the normal, case if we tell a person to breath and fill his lungs and we brought the
  <span id="text-block" class="text-block red-highlight ">spirometer</span>, and perform <span id="text-block"
                                                                                               class="text-block green-highlight ">expiration</span>
  - getting out all capacities except RV-, FEV1 in one second. </p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/13.svg">
<p>he got out 4 liters but what is the maximum capacity? it's 5 liters which is the <span id="text-block"
                                                                                          class="text-block yellow-highlight"> forced vital capacity </span>.
  in the normal
  case a person can expire 80% of total air.</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/14.svg">
<p>but what if we got this case, expire in 1 second = 2 liters</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/15.svg">
<p>that means there is an <span id="text-block" class="text-block red-highlight ">obstruction</span>, which means got
  less than 80%.</p>

<p>now we will talk about the normal, case if we tell a person to breath and fill his lungs and we brought the
  spirometer, and perform expiration - getting out all capacities except RV-, FEV1 in one second. </p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/13.svg">
<p>he got out 4 liters but what is the maximum capacity? it's 5 liters which is the forced vital capacity. in the normal case a person can expire 80% of total air.</p>
<img width="80%" class=" mt-2 mb-2 mx-auto d-block" src="https://cgine.s3.eu-central-1.amazonaws.com/images/14.svg">
