{% extends "base.html" %}{% load static i18n %}{% block content %}
  {% include 'navbar.html' %}




  <div class="container">
    <div class="row justify-content-center mt-5">

      <h1 class="text-center mt-5"><strong>cgine 📚 </strong></h1>
      <h1 class="text-center  ">welcome, cgine is a new format to deliver educational material to make receiving
        information concise and self-paced</h1>
      <h3 class=" mb-3 mt-3  text-center"> ● ● ● ● ●</h3>
      <h3 class="text-center  ">i'm currently working to make
        cgine available to everyone, check out our Demo & drop your email and i will let you know when cgine is
        available! 😘 </h3>

      <a href="/category/1">
      <div class="card shadow-sm category_card mx-4 my-2" style="width: 10rem;">
        <img src="{% static 'images/saad_academy.jpg' %}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text category_title text-center">Saad Academy</p>
        </div>
      </div>
        </a>

      <a href="/category/1/lesson/58949efb-6dfd-4302-af98-e57692fff245">
        <div class="card shadow-sm category_card mx-4 my-2 " style="width: 10rem;">
          <img src="{% static 'images/Demo.png' %}" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text category_title text-center">Demo</p>
          </div>
        </div>
      </a>

    </div>
    <div class="row justify-content-center mt-5 pt-5">
      <h4>by <a class="name" href="https://github.com/abdullahMosibah">Abdullah Mosaibah</a>
      </h4>
      <h3>amosaibah@cgine.app</h3>
      <!--
      <h4><strong>This project is open sourced </strong><a href="https://github.com/abdullahMosibah/Meeting">Github
        repo</a></h4>
        -->
    </div>
  </div>
{% endblock content %}
