{% extends 'base.html' %} {% load static i18n %}{% block content %}

  <!-- the welcoming modal -->
  <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">DISCLAIMER</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-start dis">this version of cgine is still a very early so expect bugs or dysfunctions😅 -sorry
            there are a lot of those-</p>
          <p class="text-start dis"><strong>PS </strong>:i know the color scheme is not that good, i'm not a designer😜
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------------------------- -->


  <div class="sticky-top" id="progress-bar"></div>
  {% include "navbar.html" %}

  <!-- search modal helper -->
  <div id="info_box" class=" px-2 py-2  border rounded info shadow">
    <p class=" search_keyword" id="info_keyword"></p>
    <button id="google_btn" type="button" class="btn-outline-info btn search-btn">search google</button>
    <button id="google_scholar_btn" type="button" class="btn-outline-info btn search-btn">search google scholar</button>
    <button type="button" class="btn btn-outline-primary search-btn">play</button>
  </div>
  <!-- --------------------- -->


  <div class="container mt-3">
    <div class="row main-row">
      <!-- the index -->
      <div class="col-2   bg-primary- ">
        <ul class="sticky-top index">
          <li>
            <a href="#one"><p class="text-break index-element">introduction</p></a>
          </li>
          <li>
            <a href="#two"><p class="text-break index-element">Objectives</p></a>
          </li>
          <li>
            <a href="#three"><p class="text-break index-element">Interaction Design</p></a>
          </li>
          <li>
            <a href="#four"><p class="text-break index-element">Aim of interaction Design</p></a>
          </li>
          <li>
            <a href="#five"><p class="text-break index-element">Bad design</p></a>
          </li>
          <li>
            <a href="#seven"><p class="text-break index-element">Good Design</p></a>
          </li>
          <li>
            <a href="#eight"><p class="text-break index-element">users' needs</p></a>
          </li>
          <li>
            <a href="#nine"><p class="text-break index-element">definition</p></a>
          </li>
          <li>
            <a href="#ten"><p class="text-break index-element">Goals of interaction Design</p></a>
          </li>
          <li>
            <a href="#eleven"><p class="text-break index-element">Design</p></a>
          </li>
          <li>
            <a href="#twelve"><p class="text-break index-element">Working in multidisciplinary teams</p></a>
          </li>
          <li>
            <a href="#thirteen"><p class="text-break index-element">Interaction design in business</p></a>
          </li>
          <li>
            <a href="#fourteen"><p class="text-break index-element">THE birth of HCI</p></a>
          </li>
          <li>
            <a href="#sixteen"><p class="text-break index-element">WHY?</p></a>
          </li>
        </ul>
      </div>
      <!-- ----------------------- -->

      <div class="col-10 main-content bg-secondary-">
        <h1 class="text-start mb-3">{{ lesson.title }}</h1>

          {% for knowledge_block in lesson.get_knowledge_blocks %}
        <div id="one" class="row  knowledge-block">
          <div class=" text-container col-8   my-1  px-2 py-2 border shadow rounded">
            <audio crossorigin="anonymous" crossorigin="anonymous" src="{{ knowledge_block.audio.url }}"
                   class="test_audio"></audio>
            <div class="row">
              <div class="col-12">
                <button data-playing="false" role="switch" aria-checked="false" type="button"
                        class="play_button mb-2 btn btn-outline-info">Play
                </button>
              </div>
            </div>
         <!-- the content is here -->
            {{ knowledge_block.content|safe }}
          </div>

          <div class="col-2 mt-2">
            <div class="border rounded shadow  video">
              <video class="test_video" controls>
                <source src="{{ knowledge_block.video.url }}">
              </video>
            </div>
            <div class="py-1 px-1 mt-1  border rounded shadow resources">
              <p class="text-start mt-2">related resources</p>
              <ul>
                {{ knowledge_block.resource|safe }}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
