{% extends 'base.html' %} {% load static i18n %}{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

  <!-- the welcoming modal -->
  <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">🕺🕺🕺🕺🕺</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-start dis"> 🌟Update, New features:</p>
          <ul>
            <li>
              <p class="text-start dis">🔍 double-click on highlighted text to search on google or google scholar</p>
            </li>
            <li>
              <p class="text-start dis">🔊 click on play sound or play the video, to play instructor explaining the
                knowledge block</p>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------------------------- -->

  <div class="sticky-top" id="progress-bar"></div>
  {% include "navbar-shadow.html" %}


  <!-- search modal helper -->
  <div id="info_box" class=" px-2 py-2  border rounded info shadow">
    <p class=" search_keyword" id="info_keyword"></p>
    <button id="google_btn" type="button" class="btn-outline-info btn search-btn">search google</button>
    <button id="google_scholar_btn" type="button" class="btn-outline-info btn search-btn">search google scholar</button>
    <button type="button" class="btn btn-outline-primary search-btn">play</button>
  </div>
  <!-- --------------------- -->

  <div id="lesson_app">
    <div class="container mt-3">
      <div class="row main-row">
        <!-- the index----------------------- -->
        <div class="col-lg-2 col-sm-12 ">
          <ol class="sticky-top py-3 shadow-md index">
            <li>
              <a href="#one"><p class="text-break index-element">asdsadsad</p></a>
            </li>
            <li>
              <a href="#two"><p class="text-break index-element">Objectives</p></a>
            </li>
            <li>
              <a href="#three"><p class="text-break index-element">Interaction Design</p></a>
            </li>
            <li>
              <a href="#four"><p class="text-break index-element">Aim of interaction Design</p></a>
            </li>
            <li>
              <a href="#five"><p class="text-break index-element">Bad design</p></a>
            </li>
            <li>
              <a href="#seven"><p class="text-break index-element">Good Design</p></a>
            </li>
            <li>
              <a href="#eight"><p class="text-break index-element">users' needs</p></a>
            </li>
            <li>
              <a href="#nine"><p class="text-break index-element">definition</p></a>
            </li>
            <li>
              <a href="#ten"><p class="text-break index-element">Goals of interaction Design</p></a>
            </li>
            <li>
              <a href="#eleven"><p class="text-break index-element">Design</p></a>
            </li>
            <li>
              <a href="#twelve"><p class="text-break index-element">Working in multidisciplinary teams</p></a>
            </li>
            <li>
              <a href="#thirteen"><p class="text-break index-element">Interaction design in business</p></a>
            </li>
            <li>
              <a href="#fourteen"><p class="text-break index-element">THE birth of HCI</p></a>
            </li>
            <li>
              <a href="#sixteen"><p class="text-break index-element">WHY?</p></a>
            </li>
          </ol>
        </div>


        <div class="col-lg-10 col-sm-12 main-content bg-secondary-">
          <h1 class="text-start mb-3">{{ lesson.title }}</h1>
          <!-- the knowledge block -->
          {% for knowledge_block in lesson.get_knowledge_blocks %}

            <button data-playing="false" role="switch" aria-checked="false" type="button"
                    class="play_button shadow"><strong>Play</strong>
            </button>
            <div class="row knowledge-block shadow-lg mb-4  px-2 py-2">
              <!-- audio addition to html -->

              <audio crossorigin="anonymous" src="{{ knowledge_block.audio.url }}"
                     class="test_audio"></audio>
              <!--                        -->
              <div class="col-12 pt-4  ">

                <video class="border rounded shadow  video float-right " controls>
                  <source src="{{ knowledge_block.video.url }}">
                </video>

                <div class="row">
                  <p class="kb_title"><strong>{{ knowledge_block.title }}</strong></p>
                </div>
                <!-- the content is here -->
                {{ knowledge_block.content|safe }}
              </div>
              <div class="col-12">
                <div class="row justify-content-end pb-4">
                  <button v-on:click="showGlossary = !showGlossary" class="dropdown_button shadow mr-3"><span
                          class="divider mr-1"> </span> Glossary
                  </button>
                  <button v-on:click="showResources = !showResources" class="dropdown_button px-2 py-2 shadow mr-3">
                    <span class="divider mr-1"> </span> Related
                    resources
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="row justify-content-between">
                  <transition name="dropdown">
                    <div v-if="showGlossary" class="col-8">
                      <p class="text-break" id="{{ knowledge_block.id }}" >
                        asdsadsadsadsadsadsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                    </div>
                  </transition>
                  <transition name="dropdown">
                    <div v-if="showResources" class="col-4">
                      <p class="text-break">
                        asdsadsadsadsadsadsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                    </div>
                  </transition>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- end of knowledge block -->
        </div>
      </div>
    </div>
  </div>


  <script>


    var lesson_app = new Vue({
      el: "#lesson_app",
      delimiters: ["[[", "]]"],
      data: {
        showGlossary: false,
        showResources: false,
      },


      methods: {}

    })

    let text_in_knowledge_blocks = document.querySelectorAll("#text-block");

    let disclaimer = document.getElementById("disclaimer");
    //--------------------- info box pop-up-------------------------------
    // info keyword that is located inside the info box
    let infoKeyword = document.getElementById("info_keyword");
    // the actual info box
    let infoBox = document.getElementById("info_box");
    // progress bar effect reference
    let progressBar = document.getElementById('progress-bar');
    // the buttons in the info box.
    let googleBtn = document.getElementById("google_btn");
    let googleScholarBtn = document.getElementById("google_scholar_btn");


    //----------------------------------------------------------------------
    function google_search(evt) {
      window.open(`https://www.google.com/search?q=${evt.target.myParam}`, '_blank');
    }

    function google_scholar_search(evt) {
      window.open(`https://scholar.google.com/scholar?hl=en&as_sdt=0,5&q=${evt.target.myParam}`, "_blank");

    }


    function populate_info_box(keyword) {
      infoKeyword.textContent = keyword;
      //listener for the google normal search
      googleBtn.addEventListener("click", google_search);
      googleBtn.myParam = keyword;
      //listener for the google scholar search.
      googleScholarBtn.addEventListener('click', google_scholar_search);
      googleScholarBtn.myParam = keyword;
      // to make the info box disappear when clicked at any location at the document.
      window.addEventListener('click', function () {
        infoBox.classList.remove("show");
      })
      //googleBtn.removeEventListener("click", google_search(keyword));


// for each span that contains text

    }

    text_in_knowledge_blocks.forEach(function (e) {
      // double click event listener
      e.addEventListener("dblclick", function (f) {
        // to populate the info box + to make it appear when double clicked at any text.
        populate_info_box(e.textContent);
        infoBox.classList.add("show");

      })
    });


  </script>

{% endblock content %}
