{% load static i18n %}
<footer>
  <div class="container pt-4 mt-5">
    <div class="row py-5">
      <div class="col-12">
        <img
          src="{% static 'images/logo_black.svg'%}"
          class=" img-fluid rounded mx-auto d-block"
          alt="Responsive image"
          width="40%"
        />
      </div>
      <div class="col-12 mt-3">
        <p style="color:#F3F7FB ; font-size: 0.9em;" class="text-center">
          Site Design / Logo © 2020 cgine.app
        </p>
        <div class="row justify-content-center ">
      <p class="name">by <a  class=" name text-center" href="https://github.com/abdullahMosibah">Abdullah Mosaibah</a>
      </p>


    </div>
    <div class="row justify-content-center mt-1">
      <h6>amosaibah@cgine.app</h6>

    </div>
      </div>
    </div>
  </div>
</footer>
